<!-- Version 1.4 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Überblick</a></li>
                <li><a href="/rooms">Unterkunft</a></li>
                <li><a href="/restaurant">Restaurant</a></li>
                <li><a href="/well-being">Wellness</a></li>
                <li><a href="/gallery">Gallerie</a></li>
                <li><a href="/exclusive-offers">Exklusive Events</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Hotelgalerie: Einblicke in unser Paradies</h1>
            <p>Entdecken Sie die Schönheit und Eleganz unseres Hotels. Von luxuriösen Zimmern und erstklassigen Einrichtungen bis hin zu atemberaubenden Ausblicken und unvergesslichen Momenten – lassen Sie sich von den Bildern inspirieren und freuen Sie sich auf Ihren Aufenthalt im Hotel Hollerith</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/_-TTQBUPz6w?si=SLf7fCv0wm__1nOr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <section>
            <h2>Unterkunft</h2>
            <p></p>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Family Room">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Standard Suite">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Presidental Suite">
            </div>
        </section>
        <section>
            <h2>Restaurant</h2>
            <p></p>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Breakfast Buffet">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Lunch Dishes">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Dinner Setting">
            </div>
        </section>
        <section>
            <h2>Wellness</h2>
            <p></p>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Pool Oasis">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Sauna Oasis">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Fitness Center">
            </div>
        </section>
        <section>
            <h2>Exklusive Events</h2>
            <p></p>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Private Diving Classes">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Exclusive Yacht Cruises">
            </div>
            <div class="image-container">
                <img src="<%= imagePlaceholder %>" alt="Golf Tournament">
            </div>
        </section>
    </main>
</body>
</html>
